.cards__like-button_active {
  background: none;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: 0;
  opacity: 1;
  transition: 0.3s;
  background-image: url(../../../../vendor/images/like-active.svg);
  background-size: cover;
  background-position: center;
}

.cards__like-button_active:hover {
  opacity: 0.5;
  cursor: pointer;
}
